@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-var {
  background: var(
    --Gradient-02,
    linear-gradient(90deg, #ffa280 0%, #8fd9d9 100%)
  );
}
.bg-var:hover {
  background: var(
    --Gradient-02,
    linear-gradient(90deg, #ffa280 60%, #8fd9d9 100%)
  );
  transition: all ease-in-out 0.7s;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  z-index: 22 !important;
}
.swiper-pagination-bullet-active {
  background: #24211b !important;
}
