@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Mono";
}

@font-face {
  font-family: "AvanttTRIAL";
  src: url("/app/avantt/AvanttTRIAL-Regular-BF6721a86b1a848.otf");
}
.ff-av {
  font-family: "AvanttTRIAL";
}

.bg-var {
  background: var(
    --Gradient-02,
    linear-gradient(90deg, #ffa280 0%, #8fd9d9 100%)
  );
}
.bg-var:hover {
  background: var(
    --Gradient-02,
    linear-gradient(90deg, #ffa280 60%, #8fd9d9 100%)
  );
  transition: all ease-in-out 0.7s;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  z-index: 22 !important;
}
.swiper-pagination-bullet-active {
  background: #24211b !important;
}
.cl-lg{
  background: linear-gradient(180deg, #FFA280 0%, #8FD9CB 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
